extends layout

block content
  div.login-container
    a.button(href="https://instagram.com/oauth/authorize/?client_id=3f00e5f8346c46e5b053e9a52e69e49f&redirect_uri=https://digital-jalebi.herokuapp.com&response_type=token") Login to Instagram
  div.picture-container