extends layout

block content
  div.login-container
    a.button(href="https://instagram.com/oauth/authorize/?client_id=3f00e5f8346c46e5b053e9a52e69e49f&redirect_uri=https://digital-jalebi.herokuapp.com&response_type=token") Login to Instagram
  div.picture-container
  div.twitter-feed
    a.twitter-timeline(href="https://twitter.com/hashtag/Modi", data-widget-id="544034419678277632", width="150px", data-chrome="nofooter", data-tweet-limit="3")
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>