extends layout

block content
  div.login-container
    a.button(href="https://instagram.com/oauth/authorize/?client_id=c8f6741a03234098bb4b5e3c3b975725&redirect_uri=http://localhost:3000&response_type=token") Login to Instagram
  div.picture-container